*{
  font-family: 'Urbanist', sans-serif;
}

/* Margins and padding for elements */

body, h1, p, ul {
    margin: 0;
    padding: 0;
}


/* background color for body */
body {
    background-color: #bdd5a0a3;
}

/* class for search bars to left side of page */
.container {
  width: 33.33%;
  float: left;
}

/* header styling and font colors */
header {
    background-color: #F5903D;
    color: black;
    padding: 20px;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 10px;
    margin-bottom: 10px;


  }

  /* Title font styling */
  .page-title {
    font-size: 85px;
  }

  /* sizing and style for random generated joke */

  .quote {
    font-style: italic;
    font-size: 20px;
  }
select, .form-label{
  display: block !important;
  clear: both;

}


  /* Genre button styling */

    /* margin-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
  } */
